body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:35px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.337254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
